body{
	margin:0px;
	text-align:center;
	background:url('assets/images/background1.jpg') no-repeat center;
	background-color:#000;
	display:none;
	overflow:hidden;
}
a{
	text-decoration:none;
	color:#1D759F;
}
div p span{
	text-align:right;
}
p{
	text-align:left;
	padding:0 10px 0 10px;
}
#cont{
	width:900px;
	margin:auto;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-right:76px;
}
.gNav{
	width:140px;
	height:35px;
	display:inline-block;
	background:#514938;
	filter:alpha(opacity=80);
	opacity:0.8;
	margin:0 2px;
	zoom: 1;
	_display:inline;
	_height: 35px;	
}
nav ul li{
	display:inline-block;
	width:140px;
	height:35px;
	display:inline-block;
	background:#514938;
	opacity:0.8;
	margin:0 2px;
}
#home{
	background:none !important;
	width:20px;
    position: relative;
	right:16px;
}
#name{
	margin-left:61px;
}
#about, #media, #bookings, #testimonials, #lessons{
	display:none;
	width:698px;
	background:#CECEDE;
	margin: 3px 108px auto auto;
	filter:alpha(opacity=80);
	opacity:0.8;
}
#about, #media{
	padding:35px 17px;
}
#lessons, #testimonials, #bookings{
	padding:10px 17px;
}
.selector{
	display:none;
}
#tweet{
	display:none;
	margin-left:34px;
}
a img{
	border:none;
	padding-top:5px;
}
header{
	display:block;
	padding-top:20%;
}
#tweet li{
	display:block;
	padding-top:15px;
}
footer{
	display:block;
	padding-top:15px;
}
footer a{
	text-decoration:none;
	color:white;
	font-weight:bold;
	font-family:arial, sans-serif;
}
footer h3{
	font-style:italic;
}
span{
	text-align:right !important;
	font-style:italic;
}
.selector{
	position:relative;
	filter:alpha(opacity=70);
	opacity:0.7;
	padding:0;
	margin:0;
	float:left;
}